.App {
  font-family: Arial;
}

.App-header {
  position: absolute;
  width: 100%;
  height: 4rem;
  background: #353535;
}

.App-header h1 {
  margin: 0;
  padding: 1rem;
  color: white;
}

.Header-list {
  list-style: none;
  width: 100%;
}

.Header-list li {
  float: left;
}

.Header-socials {
  color: white;
}

.Header-socials ul {
  list-style: none;
}

.Header-socials ul li {
  float: right;
}

.Header-socials ul li a {
  display: block;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

.Header-socials ul li a:hover {
  background-color: black;
}
